.navbar-fixed-top{
    text-align: center;
    font-size: 22px;
    background-color:  #24C3E0;
    line-height: 50px;
    color:#fff;
}
.navbar-fixed-top span{
    margin-left: -15px;
}
.navbar-fixed-top .de-left{
  float: left;
}
.mall-list{
    width: 100%;
    margin-top: 55px;
}
.mall-list ul{
    padding:0px;
}
.mall-list li{
    list-style: none;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.tab-left{
    width:30%;
    float: left;
}
.tab-title{
    width:100%;
    height: 30px;
}
.tab-left img{
    width:90%;
    height: 70px;
    padding-left: 10px;
    padding-top:10px;
}
.tab-right{
    width:70%;
    float: right;
    padding-top: 10px;
}
.right-name{
    float: left;
    width:50%;
    font-size:18px;
}
.right-apply{
    width: 50%;
    float: right;
    font-size:16px;
    color:#FFCC33;
    text-align:center;
    margin-top:-20px;
    margin-right: 10px;
}
.tab-box{
    width: 60px;
    height: 20px;
    border:1px solid #FFCC33;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    color: #FFCC33;
    text-align: center;
}
.other{
    margin-top:10px;
}